@charset "utf-8";

body{
    font-family:  "ヒラギノ角ゴ ProN W3", 
                  HiraKakuProN-W3, 游ゴシック, "Yu Gothic",
                   メイリオ, Meiryo, Verdana, Helvetica,
                    Arial, sans-serif;
    margin-left: 30px;   
    margin: 0;
    padding: 0;
    color: black;            
}

/* header */


.img{
    width: 200px;
    margin-left: 20px;
    
}
header ul{
    
    float: left;
    margin-top: 5px;
    width: 100%;
    background-color: black;
    color: white;
    list-style: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 15px;
}
header ul li{
    float: left;
    background-color: black;
    line-height: 60px;
    margin-right: 20px;
    line-height: 3;

}

.confirm{
    margin: 0outo;
    background-color: #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    width: 1800px;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
}






/* エラー */
.form-invalid{
    color: red;
}



/* footer */
footer{
    width: 100%;
    margin-top: 10px;
    clear: both;
    background-color: black;
    color: white;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

/* prefecture1 */

.prefecture1{
    display: flex;
}

/* 削除項目 */
.delete{
    font-size: 100px;


}
/* ボタン */
.button1 .button1{
    font-size: 50px;

}
.delete1{
    height:130px;
    width:300px;
    font-size: 30px;
}
.button1{
    height:130px;
    width:300px;
    font-size: 30px;
}
.button2{
    height:130px;
    width:300px;
    font-size: 30px;

}
.form1{
    display: flex;
    margin-left: 600px;
}
/* メッセージ */
.confirm1{
    margin: 0outo;
    background-color: #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    width:   1900px;
    padding-top: 20px;
    padding-left: 20px;
    
    padding-bottom: 60px;
    font-size: 150px;
    height: 750px;
    text-align:center ;
    display:table-cell;
    vertical-align:middle;

}
.noerror{
    color: black;
 
}
/* errorメッセージ */
.error{

    color: red;

}